#nav {
  height: 8vh;
  width: 100%;
  max-width: 1800px;
  display: flex;
  position: fixed;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1;
  transition: all 0.3s ease;
}

.left-links {
  margin-left: auto;
  display: flex;
}

a {
  text-decoration: none;
}

.nav-title {
  margin: auto 0 auto 0;
  padding: 10px 10px 10px 0;
  font-size: 1.2rem;
  transition: all 0.2s ease;
  font-weight: 600;
}

.nav-title:hover {
  filter: brightness(1.25);
  cursor: pointer;
  color: var(--link);
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list a {
  margin: auto 0 auto 0;
  padding: 10px;
  font-size: 0.9rem;
  text-decoration: none;
}

.nav-list a:hover {
  filter: brightness(1.25);
}

.nav-list a li {
  transition: all 0.3s ease;
}

.nav-list a:hover li {
  cursor: pointer;
  color: var(--link);
}

.nav-contact {
  margin: auto 0 auto 10px;
  background-color: var(--link);
  padding: 6px 8px 6px 8px;
  border-radius: 50px;
  color: var(--background);
  transition: all 0.2s ease;
}

.nav-contact:hover {
  cursor: pointer;
  outline-style: solid;
  outline-color: var(--link);
  outline-offset: 3px;
  outline-width: 2px;
  filter: brightness(1.15);
}

.nav-button {
  margin: auto 10px auto 10px;
  background-color: var(--link);
  color: var(--background);
  padding: 7px 9px 7px 9px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  display: none;
  transition: all 0.3s ease;
}

#nav-btn {
  display: none;
}

.nav-button:hover {
  cursor: pointer;
  filter: brightness(1.15);
  outline-style: solid;
  outline-color: var(--link);
  outline-offset: 3px;
  outline-width: 2px;
}

.nav-button:focus {
  outline-style: none;
}

@media screen and (max-width: 1100px) {
  .nav-button {
    display: block;
  }

  #nav-btn {
    display: block;
  }
  .nav-list {
    display: grid;
    position: absolute;
    right: -200px;
    text-align: center;
    top: 9vh;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .active {
    right: 10%;
  }

  .nav-list a {
    width: 100%;
    background-color: var(--link);
    padding: 8px;
  }

  .nav-list li {
    color: var(--background);
    padding: 10px;
  }

  .nav-list a:hover li {
    cursor: pointer;
    color: var(--background);
  }
}

.nav-scrolled {
  background-color: var(--background);
  border-bottom: 2px solid var(--link);
}
