@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.theme-light {
  --text: #3a3a3a;
  --background: rgb(230, 230, 230);
  --title-gradient: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --project-card-bg: #4b6cb7;
  --project-card-text: rgb(230, 230, 230);
  --link: #4b6cb7;
}

.theme-dark {
  --text: rgb(203, 203, 203);
  --background: #000815;
  --title-gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  --project-card-bg: #4ca7dc;
  --project-card-text: #181818;
  --link: #4ca7dc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  padding-bottom: 100px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.greet {
  font-style: italic;
  font-size: 1.3rem;
  display: inline-block;
}

.center h1 {
  font-size: 3.5rem;
  margin-top: 10px;
  background: var(--title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.homepage {
  min-height: 100vh;
}

.page {
  padding: 100px 15% 0 15%;
  max-width: 1500px;
}

.page h2 {
  display: inline-block;
  background: var(--title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin-bottom: 50px;
}

.page p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
  margin-right: 80px;
}

.page a {
  color: var(--link);
  transition: all 0.3s ease;
}

.page a:hover {
  filter: brightness(1.25);
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.two-column img {
  width: 250px;
  border-radius: 20px;
}

.page ul {
  margin-left: 40px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.page li {
  padding-left: 10px;
  padding-bottom: 3px;
}

.project {
  width: 100%;
  background-color: var(--project-card-bg);
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: black 1px;
  position: relative;
  transition: all 0.3s ease;
}

.project h3 {
  margin-left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--project-card-text);
}

.project i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-size: 1.3rem;
  color: var(--project-card-text);
}

.project:hover {
  outline-style: solid;
  outline-color: var(--link);
  outline-offset: 3px;
  outline-width: 2px;
}

@media screen and (max-width: 850px) {
  .two-column {
    grid-template-columns: repeat(1, auto);
  }
  .page p {
    margin-right: 0px;
  }

  .page h2 {
    margin-bottom: 30px;
  }

  .page {
    padding: 50px 10% 50px 10%;
  }
  .two-column img {
    margin: auto;
    max-width: 250px;
    margin-top: 30px;
    width: 50%;
  }
}

.underscore {
  width: 3px;
  height: 20px;
  background-color: var(--link);
  animation: blink 0.6s linear infinite alternate;
}

#underscore1 {
  height: 1.3rem;
}

#underscore2 {
  height: 2.7rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.down-arrow {
  background-color: var(--link);
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 18px;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.down-arrow i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--background);
}

.down-arrow:hover {
  outline-style: solid;
  outline-color: var(--link);
  outline-offset: 3px;
  outline-width: 2px;
  filter: brightness(1.25);
}

.theme-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: var(--link);
  padding: 18px;
  border: none;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.theme-btn i {
  color: var(--background);
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.theme-btn:hover {
  outline-style: solid;
  outline-color: var(--link);
  outline-offset: 3px;
  outline-width: 2px;
  filter: brightness(1.25);
  cursor: pointer;
}
